.navbar {
    width: 100%;
    background: #2c3e50;
    padding: 1rem 2rem;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    position: relative; /* Nécessaire pour le pseudo-élément */
    transition: all 0.3s;
}

/* Animation de soulignement au survol */
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease-out;
}

.nav-links a:hover::after {
    width: 100%;
}

.under-link {
    position: relative;
}

.under-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3498db;
}

.nav-links a::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.active-link {
    color: #3498db !important;
}